/* visbycf */

@font-face {
    font-family: 'visbycf';
    src: url('../src/assets/fonts/Demo_Fonts/Fontspring-DEMO-visbycf-bold.otf') format('truetype');
    font-weight: 700;
  }
@font-face {
    font-family: 'visbycf';
    src: url('../src/assets/fonts/Demo_Fonts/Fontspring-DEMO-visbycf-extrabold.otf') format('truetype');
    font-weight: 800; 
  }
@font-face {
    font-family: 'visbycf';
    src: url('../src/assets/fonts/Demo_Fonts/Fontspring-DEMO-visbycf-heavy.otf') format('truetype');
    font-weight: 600; 
  }
@font-face {
    font-family: 'visbycf';
    src: url('../src/assets/fonts/Demo_Fonts/Fontspring-DEMO-visbycf-light.otf') format('truetype');
    font-weight: 500; 
  }
@font-face {
    font-family: 'visbycf';
    src: url('../src/assets/fonts/Demo_Fonts/Fontspring-DEMO-visbycf-medium.otf') format('truetype');
    font-weight: 800; 
  }
@font-face {
    font-family: 'visbycf';
    src: url('../src/assets/fonts/Demo_Fonts/Fontspring-DEMO-visbycf-regular.otf') format('truetype');
    font-weight: 400; 
  }
@font-face {
    font-family: 'visbycf';
    src: url('../src/assets/fonts/Demo_Fonts/Fontspring-DEMO-visbycf-thin.otf') format('truetype');
    font-weight: 300; 
  }


/* satoshi  */

@font-face {
    font-family: 'satoshi';
    src: url('../src/assets/fonts/OTF/Satoshi-Black.otf') format('truetype');
  }
@font-face {
    font-family: 'satoshi';
    src: url('../src/assets/fonts/OTF/Satoshi-Bold.otf') format('truetype');
  }
@font-face {
    font-family: 'satoshi';
    src: url('../src/assets/fonts/OTF/Satoshi-Italic.otf') format('truetype');
  }
@font-face {
    font-family: 'satoshi';
    src: url('../src/assets/fonts/OTF/Satoshi-Light.otf') format('truetype');
  }
@font-face {
    font-family: 'satoshi';
    src: url('../src/assets/fonts/OTF/Satoshi-Medium.otf') format('truetype');
  }
@font-face {
    font-family: 'satoshi';
    src: url('../src/assets/fonts/OTF/Satoshi-Regular.otf') format('truetype');
  }
