@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'DigitalNumbers';
  src: url('./assets/fonts/DIgitalNumbers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@custom-variant dark (&:is(.dark *));

html {
  scrollbar-gutter: stable;

  .digital-font {
    font-family: 'DigitalNumbers', monospace;
  }

  .small {
    font-size: 10px;
  }

  .fix {
    border: 1px solid red;
  }

  /* Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }

  button {
    cursor: pointer;
  }

  .scrollbar-hide {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }

  .scrollbar-styled {
    scrollbar-width: thin;
    scrollbar-color: #d0d0d0 transparent;
  }

  .scrollbar-styled::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-styled::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-styled::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    border-radius: 3px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-styled::-webkit-scrollbar-thumb:hover {
    background-color: #b0b0b0;
    background-clip: content-box;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .clip-star {
    clip-path: path("M48.7077 3.66611C54.5497 0.111295 61.8866 0.111299 67.7287 3.66611L71.4976 5.95947C73.89 7.41522 76.5847 8.30233 79.374 8.55245L83.8055 8.94983C90.558 9.55535 96.4221 13.8451 99.0438 20.0973L100.885 24.4887C101.951 27.0305 103.578 29.2986 105.643 31.1236L109.255 34.3151C114.265 38.7419 116.461 45.5488 114.983 52.0689L113.876 56.9565C113.273 59.6184 113.273 62.3816 113.876 65.0435L114.983 69.9311C116.461 76.4512 114.265 83.258 109.255 87.6849L105.643 90.8764C103.578 92.7014 101.951 94.9695 100.885 97.5113L99.0438 101.903C96.422 108.155 90.558 112.445 83.8055 113.05L79.374 113.448C76.5847 113.698 73.89 114.585 71.4976 116.041L67.7287 118.334C61.8866 121.889 54.5497 121.889 48.7077 118.334L44.9387 116.041C42.5463 114.585 39.8516 113.698 37.0623 113.448L32.6308 113.05C25.8784 112.445 20.0143 108.155 17.3925 101.903L15.5509 97.5113C14.4851 94.9695 12.8587 92.7014 10.7934 90.8764L7.18155 87.6849C2.17177 83.2581 -0.0246102 76.4512 1.45292 69.9311L2.56049 65.0435C3.16372 62.3816 3.16372 59.6184 2.56049 56.9565L1.45292 52.0689C-0.02461 45.5488 2.17177 38.7419 7.18155 34.3151L10.7934 31.1236C12.8587 29.2986 14.4851 27.0305 15.5509 24.4887L17.3925 20.0973C20.0143 13.8451 25.8784 9.55535 32.6309 8.94983L37.0623 8.55245C39.8516 8.30233 42.5463 7.41521 44.9387 5.95946L48.7077 3.66611Z"
      );
  }

  .legal-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    max-height: 700px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(32px);
    border-radius: 2rem 2rem 0 0;
    animation: slideUp 0.4s ease-out;
    z-index: 30;
    display: flex;
    flex-direction: column;
  }

  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.042 264.695);
    --primary: oklch(0.208 0.042 265.755);
    --primary-foreground: oklch(0.984 0.003 247.858);
    --secondary: oklch(0.968 0.007 247.896);
    --secondary-foreground: oklch(0.208 0.042 265.755);
    --muted: oklch(0.968 0.007 247.896);
    --muted-foreground: oklch(0.554 0.046 257.417);
    --accent: oklch(0.968 0.007 247.896);
    --accent-foreground: oklch(0.208 0.042 265.755);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.984 0.003 247.858);
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: oklch(0.208 0.042 265.755);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.968 0.007 247.896);
    --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);

    /* custom meetro colors */
    --meetro-green: oklch(0.87 0.294827 142.4953);
    --meetro-dark: oklch(0.19 0.0636 142.5);
    --meetro-secondary: oklch(0.25 0.0647 143.32);
  }

  .dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --card: oklch(0.208 0.042 265.755);
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(0.984 0.003 247.858);
    --primary: oklch(0.929 0.013 255.508);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(0.279 0.041 260.031);
    --secondary-foreground: oklch(0.984 0.003 247.858);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(0.984 0.003 247.858);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.208 0.042 265.755);
    --sidebar-foreground: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.551 0.027 264.364);
  }

  @theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  }

  @layer base {
    * {
      @apply border-border outline-ring/50;
    }

    body {
      @apply bg-background text-foreground;
    }
  }
}